{% extends "base.html" %}
{% load i18n easy_thumbnails_tags %}
{% load myblog_tags %}

{% block meta %}
    {% comment %}
    This is needed if you can't add ``{% include "meta/meta.html" %}`` in the django CMS template attached to the blog
    page or if you use djangocms-page-meta.

    Please check the documentation at https://djangocms-blog.readthedocs.io/en/latest/features/meta.html for more
    details about the correct template configuration for social media tags rendering.
    {% endcomment %}
    {% if meta %}
        {% include "meta/meta.html" %}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock meta %}

{% block content %}
<!--/main-->
<section class="main-content-w3layouts-agileits">
<div class="container-fluid main-container">
  
    <div class="row inner-sec justify-content-center">
         <!--left-->
        <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left ">
            {% block content_blog %}{% endblock %}    
        </div>
         <!--//left-->

        <!-- right -->
        <aside class="col-lg-4 agileits-w3ls-right-blog-con text-left">
            <div class="right-blog-info text-left">
                <div class="tech-btm">
                    <img src="{{ MEDIA_URL }}/cms_img3.jpeg" alt="" width="350" height="220" source="https://www.pexels.com/search/computer/" value="subcribe">
                </div><!-- end class="tech-btm" -->
                {% include "myblog/includes/aside_form.html"  %}
                <div class="tech-btm">
                    <h4>Categories</h4>
                    <ul class="list-group single">
    
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="/en/blog/category/basic-tutorial/"  style="color:gray">Basic Tutorial</a>
                            <span class="badge badge-primary badge-pill">2</span>
                        </li>
                    </ul>
                </div><!-- end class="tech-btm" -->
            </div> 
            <div class="tech-btm">
                <h4>Recent articles</h4>   
                {% for post in post_list %}
                    {% include "myblog/includes/aside_item.html"  with post=post image="true" TRUNCWORDS_COUNT_ASIDE=TRUNCWORDS_COUNT_ASIDE %}
                {% empty %}
                    <p class="blog-empty">{% trans "No article found." %}</p>
                {% endfor %}
            </div>
        </aside>
        <!-- //right -->
    </div><!-- end class="row inner-sec" -->
</div>
</section>
 <!--//main-->

{% endblock content %}
