{% extends "myblog/base.html" %}
{% load i18n easy_thumbnails_tags cms_tags %}

{% block canonical_url %}<link rel="canonical" href="{{ meta.url }}"/>{% endblock canonical_url %}
{% block title %}{{ post.get_title }}{% endblock %}

{% block content_blog %}{% spaceless %}
<div class="container">
    <div class="row inner-sec">
        <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
            <article id="post-{{ post.slug }}" class="post-item post-detail">
                <header>
                    <h2>{% render_model post "title" %}</h2>
                    {% if post.subtitle %}
                        <h3>{% render_model post "subtitle" %}</h3>
                    {% endif %}
                    {% block blog_meta %}
                        {% include "myblog/includes/blog_meta.html" %}
                    {% endblock %}
                </header>
                {% if not post.main_image_id %}
                    <div class="blog-visual">{% render_placeholder post.media %}</div>
                {% else %}
                    <div class="blog-visual">
                        <img src="{{ post.main_image.url }}" alt="{{ post.main_image.default_alt_text }}" width="{{ post.main_image.get_image_width }}" height="{{ post.main_image.get_image_height }}" />
                    </div>
                {% endif %}
                {% endspaceless %}
                <br>
                {% if post.app_config.use_placeholder %}
                    <div class="blog-content">{% render_placeholder post.content %}</div>
                {% else %}
                    {% render_model post "abstract" "" "" "safe" %}
                {% endif %}
                {% if view.liveblog_enabled %}
                    {% include "liveblog/includes/post_detail.html" %}
                {% endif %}
                <!-- Javascript will need the id -->
                <p id="detail-post-id" hidden>{{ post.id }}</p>
            </article>
        </div>
    </div>
</div>
<div class="tech-btm">
    
  
</div><!--class="tech-btm"-->
{% endblock content_blog %}
