{% extends "myblog/base.html" %}
{% load i18n easy_thumbnails_tags %}{% spaceless %}
{% load myblog_tags mathfilters %}

{% block canonical_url %}<link rel="canonical" href="{{ view.get_view_url }}"/>{% endblock canonical_url %}

{% block content_blog %}
<div class="container">
    {% for i  in NUM_ROW %}
    <div class="row"></div>
        {% for j in NUM_COL %}
            {% with index=i|mul:NUM_ARTICLE_PER_ROW %}
            {% with index=index|addition:j %}
            <div class="col-md-6">
                {% get_current_post index as post %}
                {% include "myblog/includes/section_item.html" with post=post image="true" TRUNCWORDS_COUNT=TRUNCWORDS_COUNT %}
                {% endwith %}
            {% endwith %}
            </div>
        {% endfor %}
    {% empty %}
        <p class="blog-empty">{% trans "No article found." %}</p>
    </div>
    {% endfor %}
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-left mt-4">
        
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        

        
            
                
                    <li class="page-item active"><a class="page-link"" href="?page=1">1</a></li>
                
            
                
                    <li class="page-item"><a class="page-link"" href="?page=2">2</a></li>
                
            
                
                    <li class="page-item"><a class="page-link"" href="?page=3">3</a></li>
                
            
        

        
            <li class="page-item">
                <a class="page-link"" href="?page=2">
                    Next
                </a>
            </li>
        
    </ul>
</nav>

{% endblock %}
{% endspaceless %}
