{% load myblog_tags i18n easy_thumbnails_tags cms_tags mathfilters %}
{% load myblog_tags mathfilters %}

 <!--right-->
 <!-- aside class="col-lg-4 agileits-w3ls-right-blog-con text-left"> -->

        <!-- aside_post : recents_articles -->
       
        <article class="article" class="related-articles">
            <div class="blog-grids row mb-3">
                <div class="col-md-5 blog-grid-left">
                    <a href="{{ post.get_absolute_url }}" >
                        {% if image and post.main_image %}
                            {% thumbnail post.main_image post.thumbnail_options.size crop=post.thumbnail_options.crop upscale=post.thumbnail_options.upscale subject_location=post.main_image.subject_location as thumb %}
                           
                            <img alt="{{ post.main_image.default_alt_text }}" class="card-img-top img-fluid"  src="{{ thumb.url }}"  width="{{ thumb.width|mul:0.5 }}" height="{{ thumb.height|mul:0.5 }}">
                        {% else %}
                            {% media_images post as previews %}
                            {% for preview in previews %}
                                <img src="{{ preview }}" />
                            {% endfor %}
                        {% endif %}
                        <!-- <img alt=Create Your Own CMS-Blog class="card-img-top img-fluid"  src="{{ MEDIA_URL }}/cms_img4.jpeg" width="350" > -->
                    </a>
                </div>
                <div class="col-md-7 blog-grid-right">
                    <h5>
                        <a href="{{ post.get_absolute_url }}" >{{ post.title }}</a>
                         <div class="blog-lead">
                            {% if not TRUNCWORDS_COUNT_ASIDE  %}
                                <span>aside_item SAFE</span>
                                {% render_model post "abstract" "" "" "safe" %}
                            {% else %}
                            <span>aside_item ELSE</span>
                                {% render_model post "abstract" "" "" "truncatewords_html:TRUNCWORDS_COUNT_ASIDE|safe"  %}
                            {% endif %}
                        </div>
                    </h5>
                    <div class="sub-meta">
                        <span>
                            <i class="far fa-clock"></i>
                            May 18, 2020, 5:23 p.m.
                        </span>
                    </div>
                </div>
            </div>
        </article>
         
        <!-- aside_post : recents_articles -->

  <!-- </aside> -->
  <!--//right-->
