
<div class="tech-btm" class="forms" id="">
            <h4>Subscribe Us</h4>
            <div class="description">
                Start your Django CMS journey!
            </div>
            <div class="form-wrapper">
                <form method="POST" action="/landing/email">
                    {% csrf_token %}
                    <input type='hidden' name='csrfmiddlewaretoken' value='h5e5Dd1nTfZq0rtcRgofAHDgmWXlHpltO4Fdoyb5r0rDVwaWDlcGAKoxNrsT3Wot' />
                    <p>
                        <input type="hidden" name="landingFormId" value="" />
                        <input type='hidden' name='fromUrl' value='/en/blog/'/><input name='email' type='email' required='required'  placeholder='Email'/><input name='redirectTo' type='hidden' value='/thank/' />
                    </p>
                    <div class="visuallyhidden">
                        <input type="hidden" name="form_id" value="yXxa3RQkdD8NwkyQnq76Y90KOJrz1o" id="form_id_3128" /><input type="hidden" name="referrer" value="/en/blog/" id="referrer_3128" />
                    </div>
                    <input type="submit" value="Submit">
                </form>
            </div>
</div><!-- end class="tech-btm" -->