{% load static i18n cms_tags menu_tags sekizai_tags apphooks_config_tags %}
{% load bootstrap4 %}
{% load static %}


<!doctype html>
<html>
    <head>
        <title>{% block title %}This is my new project home page{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta charset="utf-8">
        
        <!--Workaround for fixing Django CMS issues-->
       <!-- Add icon library -->
       <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
       <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
       <link href="{% static 'djangocms_bootstrap4/css/base.css' %}" rel="stylesheet" type="text/css">
       <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <style type="text/css">
           .nav {
                padding-left: 0;
            }
            li {
                display: inline;
                list-style-type: none;
                padding-right: 20px;
            }
            .container {
                width: 940px;
                margin: 0 auto
            }
            .content {
                float: left;
                width: 80%;
            }
            .sidebar {
                float: left;
                width: 20%;
            }
           
        </style>

        
        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}
        <!--Header-->
        <br/>
    <header>
      <!-- <ul class="nav">
        {% show_menu 0 100 100 100 "menu_bar/navigation.html"  %}
      </ul> -->
        <div class="container-fluid">
          <div class="row">

            <div class='col-md-3'>
                <a  href="/">
                  <p><a href="{% url 'myblog:posts-latest' %}"><img alt="DjangoCMS-TW logo" src="{{ MEDIA_URL }}/logo.png" style="height: 60px;"></a></p>
                </a>
            </div>

              <div class="col-md-6 top-forms text-center mt-lg-3 mt-md-1 mt-0">
                <p>Maths Physic Coding</p>
                <p><a href="https://www.django-cms-themes.com/"><img src="{{ MEDIA_URL }}/logo.png" style="height: 30px;"></a></p>
              </div> 

            <div class="col-md-3 log-icons text-right">
              <ul class="social_list1 mt-3">
                <li>
                  
                  <a href="https://www.facebook.com/sharer.php?u=URLTOSHARE&amp;t=TITLE" class="fb" title="Share this page!">
                    <i class="icon-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/share?url=URLTOSHARE" class="tw" title="Tweet this page!">
                    <i class="icon-twitter"></i>
                  </a>
                </li>
                </ul>
            </div>

          </div><!-- end row -->
        </div><!-- end container-fluid-->

        <div class="header_top" id="home">
          <nav class="navbar navbar-default" role="navigation">
            <div class="container">
              <div class="navbar-header">
                <!-- <a href="#" class="navbar-brand">Logo</a> -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-responsive-65">
                  <span class="sr-only"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div class="collapse navbar-collapse" id="navbar-responsive-65">
                <div class="navbar-left">
                  <nav>
                    <ul class="nav navbar-nav">
                      <li>
                        <a href="/">Home</a>
                      </li>
                      <li>
                        <a href="{% url 'myblog:posts-latest' %}">Blog</a>
                      </li>
                      <li>
                        <a href="{% url 'myblog:posts-latest' %}">Contact</a>
                      </li>
                    </ul>
                  </nav>
                </div>
                <div class="navbar-right">
                  <form class="search-form searchbar" role="search" id="hiddenSearchBox" action="" method="get">
                    {% csrf_token %}
                    <div class="input-group">
                      <input type="hidden" name="id" value="63">
                      <input type="search" name="keywords" class="form-control" placeholder="Search..">
                      <div class="input-group-btn">
                        <button type="submit" class="btn btn-default" data-toggle="searchbar" data-target="#hiddenSearchBox">
                          <span class="glyphicon glyphicon-search"></span> <span class="sr-only">Submit</span>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!--//header-->
      <!--/banner-->
      <div class="banner-inner">
      </div>
      <!--//banner-->

            {% block content %}
            
            {% endblock content %}
        </div>
        {% render_block "js" %}
        <script type="text/javascript" src="{% static 'static_jquery/js/jquery.js' %}" ></script>
        <script type="text/javascript">
          $(document).ready(function(){
             //Position the related post after Featured Post
             var detail_post_id = $("#detail-post-id").html()
             detail_post_id = parseInt(detail_post_id)
              
             
          })
        </script>
    </body>
</html>
